body {
    background: white;
    font-family: roboto;
    text-align: center;
}

table {
       width: 550px;
       margin: auto;
       padding-left: 20px;
       padding-right: 20px;
       border-radius: 10px;
       text-align: center !important;
       box-shadow: 8px 5px 23px #888888;
}

tr {
    height: 111px;
}

form, div {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    padding: 20px;
    border-radius: 10px;
    text-align: left!important;
    box-shadow: 8px 5px 23px #888888;
}

input {
    margin: 20px;
}