body {
    background: white;
    font-family: roboto;
    color: #42648b;
    text-align: center;
}

table {
       background-color: white;
       width: 550px;
       margin: auto;
       padding-left: 20px;
       padding-right: 20px;
       border-radius: 10px;
       text-align: center !important;
       box-shadow: 8px 5px 23px #888888;
}

tr {
    border-bottom: 2px solid grey;
}

td, th {
    height: 111px;
    border-bottom: 1px solid #dcdcdc;
}
